body {
    color: white;
}
.container{
    display: flex;
    flex-direction:column;

}
.highScoreBtn {
   
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.8rem;
    
    height: 3rem;
    width: 5rem;

}